.wrapper {
  width: 98%;
}

.navigation {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
}

.youtube-logo {
  width: 80px;
  height: 25px;
  margin: 20px 10px;
}

.search-icon {
  width: 20px;
  height: 24px;
  margin: 5px 10px;
}

.small-search-icon {
  width: 20px;
  height: 24px;
  margin: 5px 10px;
  display: none;
}

.create {
  width: 24px;
  height: 24px;
  margin: 18px 10px;
}

.material-icons {
  margin: 10px;
  text-align: center;
  color: #808080;
  padding: 8px;
  height: 24px;
}

.profile-picture {
  border-radius: 35px;
  margin: 17px 10px;
  height: 27px;
}

.input-wrapper {
  width: 100%;
  margin: 0 auto;
  align-content: center;
}

.input-list-item {
  width: 80%;
  padding: 0;
  border: 0;
}

.input {
  width: 80%;
  height: 30px;
  margin: 20px 0 20px 20%;
  border: 1px solid #808080;
  border-right: none;
}

.input:focus {
  border: 1px solid #000;
}

.botton-list-item {
  width: 10%;
  background-color: red;
}

.search-botton {
  width: 60px;
  height: 30px;
  margin: 20px 15% 0 0;
  border-left: 1px solid #808080;
  border: 1px solid #808080;
}

.main {
  width: 100%;
  display: flex;
}

.main-video {
  width: 60%;
  padding-left: 20px;
}

.iframe-video {
  width: 100%;
  height: 409px;
  border: none;
}

.main-video-production {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.main-video-lifst {
  display: flex;
  align-items: center;
}

.production {
  background-color: #808080;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  border-radius: 50px;
  font-weight: bold;
}

.main-video-details {
  width: 90%;
}

.production-details {
  display: flex;
  flex-direction: column;
}

.sub-button {
  padding: 10px;
  color: #fff;
  background-color: #f00;
  border: 2px solid #f00;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 2px;
  font-family: arial, Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 20px;
}

.production-name {
  font-size: 90%;
  font-weight: bold;
}

.subscribers {
  font-size: 80%;
  color: #808080;
}

.video-description {
  line-height: 2em;
  font-size: 90%;
}

.latest-video {
  width: 40%;
  margin-left: 15px;
}

.latest-video-article {
  display: flex;
}

.latest-video-side-show {
  margin: 5px 15px 0 0;
}

.latest-video-title {
  font-size: 95%;
}

.latest-video-title-wrapper {
  display: flex;
  flex-direction: column;
}

.latest-video-details {
  font-size: 80%;
  color: #808080;
}

.latest-video-stats {
  font-size: 75%;
  color: #808080;
}

.trend {
  font-size: 80%;
  color: blue;
  text-decoration: none;
}

.head {
  font-weight: normal;
  font-size: 130%;
}

.views {
  font-size: 90%;
  color: #808080;
}

.updates {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-grow: 1;
}

.thumbs {
  width: 24px;
  height: 24px;
  margin: 12px 10px;
  fill: #808080;
}

.likes {
  margin: 12px 7px 0 0;
  color: #808080;
}
